
body {
	background-color: #f0ffff;
	margin: 10px;
	padding: 5px;
	width: 960px;
	
}

#logo {
width:960px;
height:100px;
margin:2% auto;
}

#logo img {
width:100%;
height:100%;
}

#banner {
	margin: 10px;
	padding: 5px;
	background-color: blue;
	color: yellow;
	font-size: 2em;
	text-align: center;
	
}

ul.nav {
	margin: 10px;
	padding: 0;
	list-style-type: none;
	width: 960px;

}

ul.nav li {
	float: left;
	background-color: blue;
	border: 1px solid #486b02;
	width: 24%;
}

ul.nav a {
	display: block;
	color: yellow;
	text-decoration: none;
	border-top: 1px solid #e4ffd3;
	border-bottom: 1px solid #486b02;
	padding: 0 1em;
}

ul.nav a:hover,
ul.nav a:focus,
	ul.nav a.selected {
		color: blue;
		background-color: gray;
	}
	
.content {
	margin: 10px;
	padding: 10px;
	width: 960px;
}

.content img {
	margin: 10px;
	float: left;
	height: 200px ;
	width: 200px ;
}

.content p {
	float: none;
	font-size: 150%;
}

.highlight {
	color: red;
	font-weight: bold;
}
.clear {
	clear: both;
}

#phone {
	margin: 0px;
	padding: 5px;
	color: red;
	font-size: 1.5em;
	text-align: center;
	
}
#address {
	margin: 0px;
	padding: 5px;
	color: black;
	font-size: 1em;
	text-align: center;
	
}
#email {
	margin: 0px;
	padding: 5px;
	color: red;
	font-size: 1em;
	text-align: center;
	
}

#gmap {
	margin: 20px;
	padding: 20px;
}

table.prods {
	margin: auto;
	padding: 30px;
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	color: #333;
}

.prods td {
	border: 1px solid black;
	margin: 0;
	padding: 15px;
	font-size: 1.25em;
	padding-left: 25px; 
	background:url('../images/wavbul1a.gif') center left no-repeat;
	}
	
.bigredtext {
	margin: 10px;
	padding: 10px;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 2em;
	
}

#serviceintro {
	margin: 10px;
	padding: 10px;
	font-size: 1.5em;
	font-family: Comic Sans, Comic Sans MS, cursive;
	text-align: center;
	
}

#service-list {
	margin-left: 10px;
	padding-left: 10px;
	list-style: none;
	font-size: 1em;
	font-family: Comic Sans, Comic Sans MS, cursive;
	
}

#service-list li {
	padding-top: 5px;
padding-left: 25px;
background-image: url('../images/wavbul1a.gif');
background-repeat: no-repeat;
background-position: 0 .5em;
}
}
/*
#nav ul li {
	float:left;
	width:25%;
	text-align:center;
}

#nav ul li a {display:block;}
*/